// Font Variables

$font_0: 'Questrial', sans-serif;
$font_1: 'Questrial', sans-serif;
$font_2: 'Questrial', sans-serif;
$font_3: 'Hind Siliguri', sans-serif;
$font_4: 'Hind Siliguri', sans-serif;
$font_5: 'Hind Siliguri', sans-serif;
